@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800&family=Inter:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    font-family: 'Inter', sans-serif;
    width: 100%;
    overflow-x: hidden;
}

.home_nav li a{
    @apply font-bold text-sm text-white
}

.home_nav li .active {
    color: #EEFF25;
}

.thumbs {
    text-align: center
}

.react-tabs__tab--selected {
    border-color: #BB8506!important;
    color: #BB8506!important;
}

.swal2-cancel {
    margin-top: 0px!important
}